<div *ngIf='hero' class='name'>{{ hero.name }}</div>

<ul>
  <li *ngFor='let hero of heroes'>{{ hero.name }}</li>
</ul>

<div [ngSwitch]='hero?.emotion'>
  <app-happy-hero *ngSwitchCase="'happy'" [hero]='hero'></app-happy-hero>
  <app-sad-hero *ngSwitchCase="'sad'"></app-sad-hero>
  <app-confused-hero *ngSwitchCase="'app-confused'"></app-confused-hero>
  <app-unknown-hero *ngSwitchDefault [hero]="hero"></app-unknown-hero>
</div>

<p>Hip!</p>
<ng-template>
  <p>Hip！</p>
</ng-template>
<p>Hooray!</p>

<p *appUnless='condition' class='unless a'>
  (A) This paragraph is displayed because the condition is false.
</p>

<p *appUnless='!condition' class='unless b'>
  (B) Although the condition is true.
  this pargraph is displayed because appUnless is set to false.
</p>
