<h3>{{ title }}</h3>
<p>The sum of 1 + 1 is {{ 1 + 1 + getVal() }}</p>

<span [hidden]='isUnchanged'>changed</span>

<div *ngFor='let hero of heroes'>{{ hero.name }}</div>
<input #heroInput value='1'> {{ heroInput.value }}

<button (click)='onSave($event)'>Save</button>
<button (click)="deleteHero()">Delete Hero</button>

<form #heroForm (ngSubmit)="onSubmit(heroForm)">...</form>

<div [ngClass]='classes'>[ngClass] binding to the classes property</div>

<input [(ngModel)]='currentHero.name'>
<div *ngIf='currentHero'>{{ currentHero.name }}</div>
{{ currentHero.name | uppercase }}
<br>

<button *ngFor='let tab of tabs' (click)='changeTab(tab)'>{{ tab }}</button>
<div [ngSwitch]='currentTab'>
  <div *ngSwitchCase='1'>1</div>
  <div *ngSwitchCase='2'>2</div>
  <div *ngSwitchCase='3'>3</div>
  <div *ngSwitchCase='4'>4</div> 
</div>

<input #phone placeholder="phone number">
<button (click)='callPhone(phone.value)'>Call</button>


<input ref-fax placeholder='fax number'>
<button (click)='callFax(fax.value)'>Fax</button>
<br>
<div>Title through uppercase pipe: {{ title | uppercase }}</div>
<div>Title through a pipe chain: {{ title | uppercase | lowercase }}</div>
<div>Birthdate: {{ currentHero?.birthdate | date: 'longDate' }}</div>
<div>{{ currentHero | json }}</div>
<div *ngIf='nullHero'>The null hero'name is {{ nullHero.name }}</div>
<div>The null hero'name is {{ nullHero?.name }}</div>
<div>The null hero's name is {{ nullHero && nullHero.name }}</div>

<div *ngIf='hero'>
  The hero's name is {{ hero!.name }}
</div>

<div>
  The hero's marker is {{ $any(hero).marker }}
</div>

<div>
  Undeclared members is {{ $any(this).member }}
</div>